@import url('../../../../shared/ui/styles/mixins/media.css');

.footer {
    color: var(--color-white-50);
    background-color: var(--color-blue-800);
    padding: var(--indent-800) 0;

    &__bottom {
        margin-top: var(--indent-400);
        padding-top: var(--indent-400);
        border-top: 1px solid var(--color-blue-700);
    }

    &__text {
        margin: 0;
    }

    &__personalCard {
        margin-top: var(--indent-300);

        @include mediaTablet() {
            margin-top: 0;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column;

        @include mediaDesktop() {
            flex-flow: wrap;
        }
    }

    &__listItem:not(:first-child) {
        margin-top: var(--indent-200);

        @include mediaDesktop() {
            margin-left: var(--indent-200);
            margin-top: 0;
        }
    }

    &__label {
        width: 100%;
    }
}
