@import url('../../../../styles/mixins.css');

.faq {
    overflow: hidden;
    margin: 0;

    @include darkBoxShadow;
    @include cardBorderRadius;

    &__title {
        @include darkBoxShadow(20%, 1px);
    }

    &__titleButton {
        width: 100%;
        font: inherit;
        text-align: left;
        background: inherit;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        outline: none;

        @include cardIndent;
    }

    &__icon {
        position: relative;
        right: 0;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border-radius: 50%;
        transition: right 0.3s;
    }

    &__icon_color_dark {
        background-color: var(--color-blue-700);
        color: var(--color-white-50);
    }

    &__icon_color_light {
        background-color: var(--color-yellow-100);
        color: var(--color-dark-900);
    }

    &__titleButton:hover > &__icon {
        right: -5px;
    }

    &__descriptionWrapper {
        display: grid;
        margin: 0;
        transition: all 0.3s ease-in-out;
    }

    &__descriptionHidden {
        overflow: hidden;
    }

    &__description {
        margin: 0;

        @include cardIndent;
    }
}
