@import url('../../../../shared/ui/styles/mixins/media.css');
@import url('../../../../shared/styles/mixins/styles.css');

.header {
    padding-top: var(--indent-400);
    padding-bottom: var(--indent-400);
    position: relative;
    z-index: 1;

    @include darkBoxShadow;

    &__navigation {
        margin-top: var(--indent-300);
        overflow-x: auto;

        @include mediaMobile() {
            margin-top: 0;
        }
    }

    &__navigationList {
        @include mediaMobile() {
            justify-content: flex-end;
        }
    }

    &__locale {
        justify-content: flex-end;
    }
}
