@import url('../../../../shared/styles/mixins/styles.css');

.technologyCard {
    padding-bottom: var(--indent-50);
    box-sizing: border-box;

    @include darkBoxShadow;
    @include cardBorderRadius;

    &__inner {
        height: 100%;

        @include cardIndent;
    }

    &__title {
        margin: 0;
    }

    &__description {
        margin: var(--indent-200) 0 0;
    }
}
