@import url('../../../../shared/styles/mixins/styles.css');

.contactCard {
    box-sizing: border-box;

    @mixin darkBoxShadow;
    @mixin cardBorderRadius;
    @mixin cardIndent;

    &__title {
        margin: 0;
    }

    &__subtitle {
        margin: var(--indent-200) 0 0;
    }
}
