@import url('../../../../shared/styles/mixins/styles.css');

.personalCard {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    @mixin darkBoxShadow;
    @mixin cardBorderRadius;
    @mixin cardIndent;

    &__imageWrapper {
        width: var(--width-100);
    }

    &__info {
        padding-left: var(--indent-300);
        box-sizing: border-box;
        width: calc(100% - var(--width-100));
    }

    &__title {
        margin: 0;
    }

    &__subtitle {
        margin: var(--indent-200) 0 0;
    }
}
