@import url('../../../../shared/styles/mixins/styles.css');

.contactCard {
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    transition: opacity 0.3s;

    @include darkBoxShadow;
    @include cardBorderRadius;
    @include cardIndent;

    &:link:hover {
        opacity: 0.85;
    }

    &__title {
        margin: 0;
    }

    &__description {
        margin: var(--indent-200) 0 0;
    }
}
