@import url('../../../../../shared/ui/styles/mixins/media.css');

.section {
    &__subtitle {
        margin: 0;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        &::before {
            content: '/';
            margin-right: var(--indent-100);
            font-size: 1.7rem;
        }
    }

    &__subtitle_theme_light {
        &::before {
            color: var(--color-yellow-100);
        }
    }

    &__subtitle_theme_dark {
        &::before {
            color: var(--color-blue-800);
        }
    }

    &__title {
        margin: var(--indent-200) 0 0;
    }

    &__description {
        margin: var(--indent-300) 0 0;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: var(--indent-400) 0 0;
    }

    &__buttonWrapper {
        width: 100%;

        @include mediaMobile() {
            width: auto;
        }

        &:not(:first-child) {
            margin-top: var(--indent-300);

            @include mediaMobile() {
                margin-left: var(--indent-300);
                margin-top: 0;
            }
        }
    }

    &__button {
        width: 100%;
        text-align: center;
    }

    &__image {
        margin-top: var(--indent-300);

        @include mediaDesktop() {
            margin-top: 0;
        }
    }
}
