@import url('../../../../shared/styles/mixins.css');
@import url('../../../../shared/ui/styles/mixins/media.css');

.experienceCard {
    padding-bottom: var(--indent-50);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;

    @include darkBoxShadow;
    @include cardBorderRadius;
    @include cardIndent;

    @include mediaMobile() {
        align-items: center;
        flex-flow: wrap;
    }

    &__imageWrapper {
        width: var(--width-100);
    }

    &__info {
        box-sizing: border-box;
        margin-top: var(--indent-300);

        @include mediaMobile() {
            margin-top: 0;
            padding-left: var(--indent-400);
            width: calc(100% - var(--width-100));
        }
    }

    &__date {
        margin: 0;
        text-transform: uppercase;
    }

    &__title {
        margin: var(--indent-100) 0 0;
    }

    &__description {
        margin: var(--indent-100) 0 0;
    }

    &__labels {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    &__labelWrapper {
        margin-top: var(--indent-200);
        margin-right: var(--indent-200);
    }
}
