@import url('../../../../shared/ui/styles/mixins/media.css');

.carousel {
    overflow: hidden;

    &__swiper {
        overflow: visible;
    }

    &__slide {
        max-width: var(--width-300);
        height: auto;
        margin-right: var(--indent-300);

        @include mediaTablet() {
            max-width: var(--width-500);
        }
    }

    &__item {
        height: 100%;
    }
}
