.button {
    border: 1px solid;
    outline: none;
    border-radius: var(--border-radius-100);
    cursor: pointer;

    &_size_s {
        padding: var(--indent-200) var(--indent-300);
        font-size: var(--font-size-500);
    }

    &_size_m {
        padding: var(--indent-300) var(--indent-400);
        font-size: var(--font-size-600);
    }

    &_size_l {
        padding: var(--indent-400) var(--indent-500);
        font-size: var(--font-size-700);
    }

    &_theme_defaultDark {
        background-color: var(--color-dark-900);
        border-color: var(--color-dark-900);
        color: var(--color-white-50);
    }

    &_theme_defaultDark:hover {
        background-color: var(--color-white-50);
        border-color: var(--color-white-50);
        color: var(--color-dark-900);
    }

    &_theme_defaultLight {
        background-color: var(--color-white-50);
        border-color: var(--color-white-50);
        color: var(--color-dark-900);
    }

    &_theme_defaultLight:hover {
        background-color: var(--color-yellow-100);
        border-color: var(--color-yellow-100);
    }

    &_theme_outlinedDark {
        background-color: transparent;
        border-color: var(--color-dark-900);
        color: var(--color-dark-900);
    }

    &_theme_outlinedDark:hover {
        background-color: var(--color-dark-900);
        color: var(--color-white-50);
    }

    &_theme_outlinedLight {
        background-color: transparent;
        border-color: var(--color-white-50);
        color: var(--color-white-50);
    }

    &_theme_outlinedLight:hover {
        background-color: var(--color-white-50);
        color: var(--color-dark-900);
    }
}
