@mixin darkBoxShadow($percent: 50%, $size: 4px) {
    box-shadow: 0 $(size) 0 0 rgb(0 0 0 / $(percent));
}

@mixin cardBorderRadius() {
    border-radius: var(--border-radius-200);
}

@mixin cardIndent {
    padding: var(--indent-400);
}
