@import '../../styles/mixins.css';

.header {
    padding-top: var(--indent-500);
    padding-bottom: var(--indent-500);

    &__navigation {
        margin-top: var(--indent-100);
        overflow-x: auto;

        @mixin mediaMobile {
            margin-top: 0;
        }
    }

    &__navigationList {
        @mixin mediaMobile {
            justify-content: flex-end;
        }
    }

    &__row {
        align-items: center;
    }
}
