@import url('../../../../shared/styles/mixins.css');
@import url('../../../../shared/styles/z-index.css');

.portfolioCard {
    &__inner {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;

        @include cardBorderRadius;
        @include darkBoxShadow;
    }

    &__imageWrapper {
        position: relative;
    }

    &__image {
        border-bottom-right-radius: var(--border-radius-200);
        border-bottom-left-radius: var(--border-radius-200);
    }

    &__date {
        margin: 0;
        padding: var(--indent-100) var(--indent-400);
        font-weight: bold;
        position: absolute;
        left: 0;
        bottom: 0;
        border-top-right-radius: var(--border-radius-200);
        z-index: $z-index-1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;

        @include cardIndent;
    }

    &__title {
        margin: 0;
    }

    &__description {
        margin: var(--indent-200) 0 0;
    }

    &__labels {
        list-style: none;
        display: flex;
        margin: auto 0 0;
        padding: var(--indent-400) 0 0;
        flex-wrap: wrap;
    }

    &__labelWrapper {
        margin-top: var(--indent-200);
        margin-right: var(--indent-200);
    }
}
