@import url('../../../../shared/styles/mixins/styles.css');

.portfolioCard {
    &__inner {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;

        @mixin cardBorderRadius;
        @mixin darkBoxShadow;
    }

    &__imageWrapper {
        position: relative;
    }

    &__image {
        border-bottom-right-radius: var(--border-radius-200);
        border-bottom-left-radius: var(--border-radius-200);
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;

        @mixin cardIndent;
    }

    &__title {
        margin: 0;
    }

    &__description {
        margin-top: var(--indent-200);
    }

    &__labels {
        list-style: none;
        display: flex;
        margin: auto 0 0;
        padding: 0;
        flex-wrap: wrap;
    }

    &__labelWrapper {
        margin-top: var(--indent-200);
        margin-right: var(--indent-200);
    }
}
