@import url('../../../../shared/styles/mixins/styles.css');

.portfolioCard {
    &__inner {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;

        @mixin cardBorderRadius;
    }

    &__imageWrapper {
        position: relative;
    }

    &__fakeImage {
        box-sizing: border-box;
        min-height: 300px;
        display: flex;
        align-items: center;
        border-bottom-right-radius: var(--border-radius-200);
        border-bottom-left-radius: var(--border-radius-200);

        @mixin darkBoxShadow;
        @mixin cardIndent;
    }

    &__content {
        @mixin cardIndent;
    }

    &__title,
    &__subtitle {
        margin: 0;
    }

    &__labels {
        list-style: none;
        display: flex;
        margin: 0;
        padding: var(--indent-200) var(--indent-400) 0;
        flex-wrap: wrap;
    }

    &__labelWrapper {
        margin-top: var(--indent-200);
        margin-right: var(--indent-200);
    }
}
