.typography {
    margin: 0;

    &_theme_h1 {
        font-size: var(--font-size-1200);
        line-height: 1.3;
    }

    &_theme_p {
        font-size: var(--font-size-800);
        line-height: 1.6;
    }

    &_weight_thin {
        font-weight: 300;
    }

    &_weight_normal {
        font-weight: 400;
    }

    &_weight_medium {
        font-weight: 600;
    }

    &_weight_bold {
        font-weight: 800;
    }
}
