@import url('../../../../../shared/styles/mixins/styles.css');

.section {
    display: flex;
    align-items: center;
    padding: var(--indent-400);
    margin-top: var(--indent-400);
    border-radius: var(--border-radius-200);

    @mixin darkBoxShadow;

    &__rectangle {
        margin: 0 var(--indent-300) 0 0;
        border-radius: var(--border-radius-100);
    }

    &__text {
        margin: 0;
    }
}
