@import url('../../../../../shared/styles/mixins.css');

.section {
    display: flex;
    align-items: center;
    margin-top: var(--indent-400);

    @include darkBoxShadow;
    @include cardIndent;
    @include cardBorderRadius;

    &__rectangle {
        margin: 0 var(--indent-300) 0 0;
        border-radius: var(--border-radius-100);
    }

    &__text {
        margin: 0;
    }
}
