@import url('../../../styles/mixins/media.css');

.typography {
    &_size_h1 {
        font-size: var(--font-size-1000);
        line-height: 1.5;

        @mixin mediaTablet {
            font-size: var(--font-size-1100);
            line-height: 1.4;
        }

        @mixin mediaDesktop {
            font-size: var(--font-size-1200);
            line-height: 1.3;
        }
    }

    &_size_h2 {
        font-size: var(--font-size-900);
        line-height: 1.5;

        @mixin mediaTablet {
            font-size: var(--font-size-1000);
            line-height: 1.4;
        }

        @mixin mediaDesktop {
            font-size: var(--font-size-1100);
            line-height: 1.3;
        }
    }

    &_size_h3 {
        font-size: var(--font-size-800);
        line-height: 1.5;

        @mixin mediaTablet {
            font-size: var(--font-size-900);
            line-height: 1.4;
        }

        @mixin mediaDesktop {
            font-size: var(--font-size-1000);
            line-height: 1.3;
        }
    }

    &_size_h4 {
        font-size: var(--font-size-700);
        line-height: 1.5;

        @mixin mediaTablet {
            font-size: var(--font-size-800);
            line-height: 1.4;
        }

        @mixin mediaDesktop {
            font-size: var(--font-size-900);
            line-height: 1.3;
        }
    }

    &_size_p {
        font-size: var(--font-size-600);
        line-height: 1.6;

        @mixin mediaTablet {
            font-size: var(--font-size-700);
            line-height: 1.4;
        }

        @mixin mediaDesktop {
            font-size: var(--font-size-800);
            line-height: 1.3;
        }
    }

    &_weight_thin {
        font-weight: 300;
    }

    &_weight_normal {
        font-weight: 400;
    }

    &_weight_medium {
        font-weight: 600;
    }

    &_weight_bold {
        font-weight: 800;
    }
}
